/*
 * iPhone screen coordinate system is 320x480pts (px?).
 */

#content-elements {
    height: 400px;
    width: 320px;
}

#locationScreen {
    margin: 0 auto;
}

#parkingTerms {
}

#paymentScreen {
}

#timeSelectionScreen {
}

#parkedCarDetailScreen {
}

#firstTime {
    background-color: #10171f;
    color: rgba(186, 202, 222, 0.9);
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
}
